body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin: 3.1rem auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 0.625rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 0.8rem;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border: dotted #c1c9c9 0.4rem;
  border-bottom: none;
  width: 4%;
  margin: 6.25rem auto;
}

.top-container {
  background-color: #e4f9f5;
  padding: 12.5rem 0 12.5rem;
}

.top-message {
  position: static;
}

.middle-container {
  margin: 6.25rem 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
}

.connect-img {
  width: 25%;
  float: left;
  margin-right: 2rem;
}

.lex-img {
  width: 25%;
  float: right;
  margin: 2rem;
}

.contact-me {
  width: 50%;
  margin: auto;
  text-align: center;
}

.contact-message {
  margin: 2rem 0 4rem;
}

.top-cloud {
  position: absolute;
  /* right: 37.5rem; */
  right: 27vw;
  top: 22vh;
}

.bottom-cloud {
  position: absolute;
  /* left: 35rem; */
  left: 25vw;
  bottom: 12vh;
}

.mountain-img {
  width: 30%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.6rem;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 1.2rem 0 1.2rem;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 1.2rem 0;
}
